<!DOCTYPE html>
<html>
<head>
    <title>Блогикум</title>
    <!-- Подключаем CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Публикации</h1>
    {% for post in posts %}
        <div class="post">
            <h2>{{ post.location }}</h2>
            <p>{{ post.date }}</p>
            <p>{{ post.text|truncatewords:50 }}</p>
            <a href="{% url 'blog:post_detail' id=post.id %}">Читать далее</a>
        </div>
    {% endfor %}
</body>
</html>