{# templates/blog/index.html #}
<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>Лента записей</title>
</head>
<body>
  <h1>Лента записей</h1>

  {% for post in posts %}
    <article>
      <ul>
        <li>Место: {{ post.location }}</li>
        <li>Дата: {{ post.date }}</li>
        <li>Категория: {{ post.category }}</li>
      </ul>
      <p>{{ post.text|truncatechars:100 }}</p>
      <a href="{% url 'blog:post_detail' post.id %}">Читать полный текст</a>
      <hr>
    </article>
  {% endfor %}

  <footer>© Блогикум</footer>
</body>
</html>
